
.MuiCardContent-root {
  padding: 0px;
}

.MuiCardContent-root:last-child {
    padding-bottom: 0px;
}



a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}



a:active {
  text-decoration: none;
  color: black;
}
